body{
    background-color: #edddd0;
}


.top{
    color: #db504a;
}

#headings{
    font-family:Montserrat, sans-serif;
}

p{
    color: #334259;
}

ul {
    list-style: none;
}
  
ul li {
    margin-bottom: 40px;
}


.divided {
    display: flex;
    align-items: center;
}
  
.divider {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 5px
}

nav{
    display: grid;
}
.container{
    background-color:#edddd0;
    display:grid;
    grid-template-columns:10px;
    grid-template-rows: 100px;
}
.container div{
    flex-basis:100px;
    flex-grow:1;
}

.one{
    grid-row:1/2;
    grid-column: 2/2;
    background-color: #a6cad4;
    text-align: center;
}

.two{
    grid-column: 2;
    grid-row:3;
    text-align: right;
}


.three{
    background-color: #a6cad4;
    grid-row:4;
    grid-column: 2;
    text-align: center;
}

.four{
    grid-column:2;
    grid-row: 3/0;
    
}

@media (min-width:600px){
    nav{
        display: inline;
    }
}

@media(min-width:600px){
    .five{
        grid-column: 2;
        grid-row:3;
    }
}

@media(min-width:600px){
    .six{
        grid-column: 2;
        grid-row:3;
    }
}

@media(min-width:600px){
    .seven{
        grid-column: 2;
        grid-row:3;
    }
}

@media(min-width:600px){
    .eight{
        grid-column:4 ;
    }
}

@media(min-width:600px){
    .nine{
        grid-column:4 ;
    }
}

@media(min-width:600px){
    .ten{
        grid-column:4 ;
    }
}

