body{
    background-color: blue;
}

.topnav{
    text-align: center;
}

h1{
    color: #00ffff;
}

#headings{
    font-family:Montserrat, sans-serif;
}

p{
    color: rgb(238,130,238);
}

#one{
    grid-column: 2/4;
    background-color: red;
    text-align: center;
}