body{
    background-color: #e5e5dc;
}


h1{
    color: #db504a;
}

#headings{
    font-family:Montserrat, sans-serif;
}

p{
    color: #334259;
}

#one{
    grid-column: 2/4;
    background-color: #a6cad4;
    text-align: center;
}

#two{
    grid-template-rows:;
}


#three{
    background-color: #a6cad4;
    text-align: center;
}